*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'inter', 'sans-serif';
    line-height: 1.6;
    color: #ffffff;
    scroll-behavior: smooth;
    background: linear-gradient(135deg, #000000 0%, #111111 100%);
    min-height: 100vh;
}
